<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        {{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
         <link rel="icon" href="/assets/img/burger.png">
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
		<title>Burger App</title>
	</head>
	<body>

	 <div class="container">
      
      <br>

      <!-- Burger Image -->
      <center>
        <div class="row">
          <img src="/assets/img/burger.png">
        </div>
      </center>

      <!-- Page Title -->
      <center>
        <h1 class="red_font">Eat da Burger!</h1>
      </center>
      
      <br>
		{{{ body }}}


		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	</body>
</html>