<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    {{!-- <link rel="icon" href="/assets/img/burger.png"> --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    
		<title>Burger App</title>
	</head>
	<body>

	 <div class="container">
      
      <br>
      <br>

      {{!-- <!-- Burger Image -->
      <center>
        <div class="row">
          <img src="/assets/img/burger.png">
        </div>
      </center> --}}

      <!-- Page Title -->
      <center>
        <h1 class="title">Eat Da Burger!</h1>
      </center>
      
      <br>
      <br>
		{{{ body }}}
  
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	</body>
</html>